.mapDisplay {
  margin-top: 20px;
  width: 1266px;
  background: #1b1f30;
  border: 1px solid #393c4a;
  border-radius: 13px;
  position: relative;
  padding: 10px 40px;
  display: flex;
  justify-content: center;
}
.section_title {
  margin-top: 50px;
  margin-left: 40px;
  align-self: flex-start;
}

table {
  width: 90%;
}

th {
  font-size: 1.5rem;
  border-bottom: 1px solid #393c4a;
}

th,
td {
  text-align: center;
  padding: 5px;
}
